<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KatanaReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KatanaReader.Properties.Settings>
            <setting name="VoiceSelectionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="FormLocationSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="TextReadingHighlight" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="TextURL" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TextDefault" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextBackgound" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PanelBackgroundColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="LoadFileName" serializeAs="String">
                <value>text.txt</value>
            </setting>
            <setting name="VoiceSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoCopyEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCopyOptions" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoadFileState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadFileNameDefault" serializeAs="String">
                <value>text.txt</value>
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value>Katana Reader </value>
            </setting>
            <setting name="VoiceName" serializeAs="String">
                <value />
            </setting>
        </KatanaReader.Properties.Settings>
    </userSettings>
</configuration>